body {
  background:url(./img/Фон\ 1.png) no-repeat center center fixed;
       background-size: cover;
       font-family: 'Ubuntu', sans-serif;
       color: aliceblue;
}
a{
  color: #fff;
}
.container {
  margin: 0 auto;
  height: 58px;
}
.header {
display: flex;
justify-content: space-between;
color: #fff;
background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_section {
display: flex;
align-items: center;
}
.headerlogo {
 margin-left: 76px;
 font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}
.login {
  margin-right: 76px;
}
.header__item3 {
  margin-right: 25px;
}
.header__item2{
  margin-right: 27px;
}
.header__item1{
  margin-right: 27px;
}
.login::before{
  content: "";
  border-left: 1px solid #ffffff;
  opacity: 0.5;
  padding-right: 27px;
  font-size: 19px;
}
.headerbutton {
font-size: 14px;
}
svg:hover {
  fill: #236c47;
}
.journey_hover:hover{
  color: 
  #236c47;
 transition: all 1s ease 0s ;
}
.svg_hover:hover{
  color: 
  #236c47;
}
.loginhover:hover{
  color: 
  #236c47;
}
.main{
  position: relative;
  margin: 0 auto;
  width: 444px;
  height: 584px;
  background: #fff;
  margin-top: 54px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.main_container {
  width: 324px;
  margin: 0 auto;
  color: black;
  display: flex;
  justify-content: space-between;
}
.singup {
  margin-top: 31px;
  font-size: 20px;
  color: #434343;
  
}
.log_in{
  margin-top: 33px;
}
.log__in {
 color: 
 #3CB878;
 font-size: 14px;
}
.log__in:hover {
  color: #01813F;
  text-decoration: underline;
  
}
.btncont{ 
  width: 324px;
  margin: 0 auto;
}
.btnGF{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.loginbtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 160px;
height: 48px;
background: #305DB8;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}
.btn-facebook::after {
  content: '';
  border-right: 1px solid #0A162F;
  margin-left: 19px;
  opacity: 0.1;
padding-top: 10px;
}
.loginbtn:active{
  background: #022263;
}
.Googlebtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 160px;
height: 48px;
background: #DF4A32;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}
.btn-google::after {
  content: '';
  border-right: 1px solid #0A162F;
  margin-left: 19px;
  opacity: 0.1;
  padding-top: 8px;
  padding-bottom: 2px;
}
.Googlebtn:active{
  background: #AB1F09;
  
}
.divider {
  margin-top: 31px;
  color: #848484;
  text-align: center;
  font-size: 14px;
}
.position{
  width: 18px;
height: 18px;
background: #3CB878;
position: absolute;
margin-top: 29px;
}
.signin {
  text-align: center;
  margin-top: 12px;
}
.signing-form-field{
  width: 322px;
  height: 44px;
  font-size: 14px;
border: none;
margin-bottom: 14px;
outline: none;
}
.signing-form-field:focus{
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}
.checkbox{
  width: 324px;
  display: block;
  font-size: 14px;
  color: #434343;
}
.terms{
  font-size: 14px;
  color: 
  #3CB878;
}
.signin-form-submit {
  margin-top: 20px;
  width: 324px;
height: 46px;
font-size: 16px;
color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
border: none;
cursor: pointer;
}
.signin-form-submit:active{
background: #236c47;
}
path:hover{
  fill: #236c47;
}
.terms:hover {
  color: #236c47;
  text-decoration: underline;
}
